:root {
    --logo-hightlght-color: #2573BA;
    --buttons-color: #0891B2;
    --header-color: #F4F4F5;
    --paragraph-color: #A1A1AA;
    --background-color: #101013;
    --card-background-color: #09090B;
    --font-family: 'Inter', sans-serif;
    --hover-transition-duration: 300ms;
}

/* Global stlying */

body {
    background-color: var(--background-color);
    color: var(--paragraph-color);
    font-family: var(--font-family);   
    margin: 0;
    padding: 0;
}

body h1, h2, h3, h4, h5, h6 {
    color: var(--header-color);
}

body button {
    background-color: var(--buttons-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.material-icons {
    color: var(--logo-hightlght-color);
}

/* End of glogbal styling */

/* Navigation header stlyling */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--card-background-color);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    overflow: hidden;
    margin: auto;
    width: auto;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo-text-container {
    display: flex;
    flex-direction: row;
    margin-left: 8px;
    font-size: 1.3em;
    line-height: 0.9em;
    font-weight: 900;
    font-style: italic;
}

.logo-text-end {
    color: var(--logo-hightlght-color);    
}

.nav-btn-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: end;
    align-items: center;   
}

nav {
    margin-right: 2em;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

nav li {
    cursor: pointer;   
}

nav li:hover {
    color: var(--logo-hightlght-color);
    transition: var(--hover-transition-duration);
}

/* End of navigation header styling */

/* Hero section styling */
.hero-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
    max-width: 900px;
    margin: auto;
    row-gap: 1em;
}

.confidence-icon {
    display: flex;
    align-items: center;
    flex-direction: row;
    border-style: solid;
    border-width: 0.05em;
    padding: 0.1em 2em 0.1em 2em;
    border-radius: 999em; /* to prevent the need to manually set border radius */
    margin-bottom: 2em;
    color: var(--logo-hightlght-color);
    font-size: 0.8em;
    box-shadow: 0 0 8px #00ffe1;
}

.hero-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 5em;
    font-weight: 800;
    font-style: italic;
    row-gap: 0;
    padding: 0;
 }

 .hero-header-two {
    color: var(--logo-hightlght-color);
    padding: 0;
    margin: -0.2em;
 }

 .hero-detail {
    width: 60%;
    margin: auto;    
 }

 .btn-cost-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
    align-items: center;
    justify-content: center;
    width: 65%;
    margin: auto;
 }

 .cost-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
 }

 .cost-amount {
    font-size: 2em;
    font-weight: 700;

    color: var(--logo-hightlght-color);
    font-weight: 900;
 }

 .get-started-btn {  
    padding: 1em;
    font-size: 1.2em;
 }

 .cost-frequencey {
    font-size: 0.7em;
    color: var(--paragraph-color);
    width: 58%;
    letter-spacing: 0.15em;
 }

/* End of hero section styling */


/* Information cards section styling */
.information-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    padding: 50px 20px;
    width: auto;
    margin: auto;
    row-gap: 1em;   
    flex-wrap: wrap;
}

.info-card-container {
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-items: center;
    gap: 0.5em;
}

.info-icon {
    width: 30px;
    height: 30px;
    background-color: var(--card-background-color);
    padding: 0.5em;
    align-items: center;
    justify-items: center;
    border-radius: 20px;
}

.info-icon:hover {
    color: var(--buttons-color);
    transition: var(--hover-transition-duration);
    scale: 1.1;
    border-style: solid;
    border-width: 1px;
    border-color: #0891B2;
}

.info-text {
    font-size: 2em;
    font-weight: 900;       
}

.info-subtext {
    font-size: 0.6em;
    color: var(--paragraph-color);
    margin-top: -5px
}

/* End of information cards section styling */

/* Ice section */

.abaid-section {
    width: 100%;
    background-color: var(--card-background-color);
}

.abaid-section__inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
    max-width: 900px;
    margin: auto;
    row-gap: 1em;
}

.abaid-picture img {
    width: 300px;
    height: 500px;
    margin-right: 2em;
}

.about-text {
    text-align: left;
    width: 50%;    
}

.about-text h4 {   
    color: var(--header-color);
    font-size: 3em;
    margin-bottom: 20px;
    font-weight: 900;
    font-style: italic;
    line-height: 40px;
}

.ice-rage {
    color: var(--logo-hightlght-color);
}

.about-text p {
    font-size: 1em;
    line-height: 1.5em;
    color: var(--paragraph-color);
}

/* End of ice section */

/* Facility info section */

.facility-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
    max-width: 1200px;
    margin: auto;
    row-gap: 1em;
}

.facility-header h1 {
    font-size: 3em;
    font-weight: 900;
    font-style: italic;
}

.facility-header p {
    font-size: 1em;
    color: var(--paragraph-color);
    width: 60%;
    margin: auto;
}

.facility-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1em; 
    width: 100%; 
    flex-wrap: wrap;
    margin-top: 1.5em;
}

.facility-card {
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    justify-items: center;
    gap: 0.5em;
    background-color: var(--card-background-color);
}

.facility-card-header {
    font-style: italic;
    font-size: 1.3em;;
}

.facility-card-detail {
    font-size: 0.9em;
    color: var(--paragraph-color);
}

.facility-icon {
    font-size: 3em;
    margin-bottom: 10px;
    width: 10px;
    height: 10px;
}

/* End of facility info section */


/* Gym pictures section */

.gym-pictures-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: auto;
}

.gym-pictures-section img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* row-start / column-start / row-end / column-end */

.gym-picture-one {
    grid-area: 1 / 1 / 2 / 2;
}

.gym-picture-two {
    grid-area: 1 / 2 / 1 / 3;
}

.gym-picture-three {
    grid-area: 2 / 2 / 3 / 3;
}

.gym-picture-four {
    grid-area: 1 / 3 / 1 / 4;
}

.gym-picture-five {
    grid-area: 2 / 3 / 2 / 4;
}

/* Gym picutres section end */

/* Sessions container */

.session-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px 20px;
    max-width: 100%;
    margin: auto;
    row-gap: 1em;
    background-color: var(--logo-hightlght-color);
    color: var(--header-color);
    margin-top: 3em;
}

.session-container button {
    background-color: var(--header-color);
    color: var(--logo-hightlght-color);
    padding: 1em 2em;
    font-size: 1.2em;
    font-weight: 700;
    border: 10px;
}

.session-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;    
}
.session-header h3 {
    font-size: 3em;
    font-style: italic;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

/* End of sessions container */

/* Contact section */

.contact-container {
    display: flex;
    flex-direction: row;
    align-items: top;
    text-align: center;
    padding: 50px 20px;
    max-width: 1200px;
    margin: auto;
    row-gap: 1em;
    overflow: wrap;
}

.contact-information-container {
    display: flex;
    flex-direction: column;  
    text-align: left;
    width: 50%;
    padding: 2em;
}

.contact-information-container h2 {
    font-size: 3em;
    font-weight: 900;
    font-style: italic;
    margin-bottom: 0.2em;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
}

.touch {
    font-size: 2em;
    font-weight: 900;
}

.contact-type-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.8em;
    gap: 1em;
    margin-bottom: 1em;
}

.icon-contact {
    display: flex;
    flex-direction: column;
}

.contact-form-container {
    width: 50%;
    padding: 2em;
    border-radius: 10px;
    background-color: var(--card-background-color);
}
.contact-form {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.contact-form label {
    text-align: left;
}

.contact-form input {
    margin-bottom: 1em;
    padding: 15px;
    align-content: center;
    border: none;
    border-radius: 10px;
    background-color: var(--background-color);
    color: var(--paragraph-color);
}

.contact-form textarea {
    align-content: top;
    border: none;
    border-radius: 10px;
    background-color: var(--background-color);
    margin-bottom: 20px;
    padding: 1em;
    color: var(--paragraph-color);
}

.contact-form button {
    height: 3.5em;
    font-size: 1em;
}

    .contact-form button:hover {
        background-color: var(--logo-hightlght-color);
        transition: var(--hover-transition-duration);
    }


/* End of contact section */


/* footer section */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: var(--card-background-color);
    color: var(--paragraph-color);
    margin-top: 3em;
}

.footer-nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.copy-style {
    font-size: 0.8em;
}

.footer-nav {
    font-size: 0.8em;
}

/* End of footer section */


/* Media queries */
@media (max-width: 600px)
{
    body {
        font-size: 0.8em;
    }
    
    p {
        font-size: 0.9em;
    }

    .hero-container {
        width: 300px;
        padding: 20px 10px;
    }

    .nav-btn-container{
        display: none;
    }

    .hero-header {
        font-size: 1em;
        width: 100%;
    } 

    .contact-container {
        flex-direction: column;
        align-items: center;
        max-width: 100%;     
    }

    .contact-information-container {
        width: 90%;
        margin: auto;
        padding: 1em;     
    }
    
    .contact-form-container {
        width: 90%;
        margin: auto;
        padding: 1em;
    }

    
}